@font-face {
  font-family: 'Chillax';
  src: url('../../src/Chillax-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('../../src/ClashGrotesk-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../../src/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChillaxBold';
  src: url('../../src/Chillax-Semibold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: ClashDisplay, ClashGrotesk, Chillax, ChillaxBold, Nippo, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

body {
  margin: 0;
  /* remove when making dark mode */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}